    <script src="/App/Case/CaseModule.js?@JsVersionId"></script>

    <script src="/App/Case/Js/formatProcessingNote.js?@JsVersionId"></script>
    <script src="/App/Case/Js/MaicEnumFilter.js?@JsVersionId"></script>

    <script src="/App/Case/Search/Js/CaseSearchController.js?@JsVersionId"></script>
    <script src="/App/Case/Search/Js/ActualPartDetailsController.js?@JsVersionId"></script>

    <script src="/App/Case/Intake/Js/CaseIntakeController.js?@JsVersionId"></script>

    <script src="/App/Case/History/Js/CaseHistoryController.js?@JsVersionId"></script>
    <script src="/App/Case/History/Js/CaseSnapshotController.js?@JsVersionId"></script>