<div class="list-group"
     style="margin-left: 5px;"
     ng-show="isVisible">

    <a class="leftNavItemHeader"
       ng-style="{'background-color': header.backgroundColor}"
       ng-click="toggleSubNavItem(header)">
        {{header.name}}
        <span ng-class="{'glyphicon-menu-down': header.collapsed, 'glyphicon-menu-up': !header.collapsed}"
              class="glyphicon pull-right"></span>
    </a>

    <div>
        <left-nav-item ng-show="!header.collapsed && navItem.isVisible"
                       class="animate-show"
                       ng-repeat="navItem in header.subNavItems"
                       item="navItem">
        </left-nav-item>
    </div>
</div>