<div master-page>
    <div class="panel panel-primary" ng-show="state.params.mode != 'detail'">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-8 panel-title">
                    Parts
                </div>
                <div class="col-sm-4 text-right">
                    <ipg-page-size-select ng-model="partModel.params.pageSize">

                    </ipg-page-size-select>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="well well-sm row">
                <form class="form-inline">
                    <div class="form-group col-sm-2">
                        <div class="input-group">
                            <input type="text" id="caseText" ng-model="partModel.params.partName" placeholder="Part Name" class="form-control" size="30"/>
                            <a class="input-group-addon" ng-click=" partModel.params.partName='' ">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>

                    <div class="form-group col-sm-2">
                        <div class="input-group">
                            <input type="text" id="caseText" ng-model="partModel.params.partNumber" placeholder="Part Number" class="form-control" size="30" />
                            <a class="input-group-addon" ng-click=" partModel.params.partNumber='' ">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>

                    <div class="form-group col-sm-2">
                        <div class="input-group">
                            <input type="text" id="carrier" ng-model="partModel.params.mfrName" placeholder="Manufacturer" class="form-control" size="30"/>
                            <a class="input-group-addon" ng-click=" partModel.params.mfrName='' ">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="input-group">
                            <input type="text" id="carrier" ng-model="partModel.params.hcpcs" placeholder="HCPCS" class="form-control" size="30"/>
                            <a class="input-group-addon" ng-click=" partModel.params.hcpcs='' ">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="input-group">
                            <input type="text" id="facility" ng-model="partModel.params.category" placeholder="Category" class="form-control" size="30"/>
                            <a class="input-group-addon" ng-click=" partModel.params.category='' ">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-sm-1">
                        <button ng-click="searchParts()" ng-enter="searchParts()" class="btn btn-primary btn-sm bottom-right"
                                ng-hide="partModel.dataLoadInProgress">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                        <div class="form-group progress bottom-right" style="width: 75px; height: 30px;" ng-show="partModel.dataLoadInProgress">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-1">
                        <a ui-sref="Part.Detail.Create()" class="btn btn-info btn-sm pull-right" ng-show="currentUser.hasPermission('PARTS_MANAGE')">
                            <span class="glyphicon glyphicon-plus"></span> Create
                        </a>
                    </div>
                </form>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th><a href="javascript:void(0)" ng-click="sortBy('Name')">Part Name</a></th>
                    <th><a href="javascript:void(0)" ng-click="sortBy('Partnumber')">Model Number</a></th>
                    <th><a href="javascript:void(0)" ng-click="sortBy('ManufacturerName')">Manufacturer</a></th>
                    <th><a href="javascript:void(0)" ng-click="sortBy('Hcpcs')">HCPCS</a></th>
                    <th><a href="javascript:void(0)" ng-click="sortBy('Category')">Category</a></th>
                    <th><a href="javascript:void(0)" ng-click="sortBy('Keyword')">Keyword</a></th>
                    <th><a href="javascript:void(0)" ng-click="sortBy('BoxQuantity')">Box Quantity</a></th>
                    <th><a href="javascript:void(0)" ng-click="sortBy('MSRP')">MSRP</a></th>
                    <th><a href="javascript:void(0)" ng-click="sortBy('DiscountPrice')">Discount Price</a></th>
                    <th><a href="javascript:void(0)" ng-click="sortBy('Active')">Active</a></th>
                    <th style="width:100px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="part in partModel.partsList">
                    <td>{{part.name}}</td>
                    <td>{{part.partNumber}}</td>
                    <td>{{part.manufacturerName}}</td>
                    <td>{{part.hcpcsCode}}</td>
                    <td>{{part.categoryName}}</td>
                    <td>{{part.keyword}}</td>
                    <td>{{part.boxQuantity}}</td>
                    <td>{{part.listPrice | currency}}</td>
                    <td>
                        <span ng-show="part.discountPrice > 0">{{part.discountPrice | currency}}</span>
                    </td>
                    <td>{{part.active | asYesNo}}</td>
                    <td>
                        <a ng-href="/Admin/Catalog#/Parts/view/{{part.id}}" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                        <a ng-href="/Admin/Catalog#/Parts/edit/{{part.id}}" class="btn btn-info btn-sm" ng-show="currentUser.hasPermission('PARTS_MANAGE')">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" style="padding: 2px;">
            <div class="clearfix">
                <!-- ReSharper disable Html.TagNotResolved -->
                <pagination total-items="partModel.params.totalCount"
                            items-per-page="partModel.params.pageSize"
                            max-size="10"
                            ng-model="partModel.params.pageIndex"
                            ng-change="partModel.LoadPartsList()"
                            class="pagination-sm"
                            boundary-links="true"
                            style="margin: 8px; float: right;">
                </pagination>
                <!-- ReSharper restore Html.TagNotResolved -->
            </div>
        </div>
    </div>

    <div ui-view  ng-show="state.params.mode == 'detail'">
        
    </div>

    <!-- overwrite the pagination template! -->
    <script id="template/pagination/pagination.html" type="text/ng-template">
        <ul class="pagination">
            <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}"><a href="" ng-click="selectPage(1)" title="First Page"> <span class="glyphicon glyphicon-fast-backward"></span></a></li>
            <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}"><a href="" ng-click="selectPage(page - 1)" title="Previous Page"><span class="glyphicon glyphicon-step-backward"></span></a></li>
            <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}"><a href="" ng-click="selectPage(page.number)">{{page.text}}</a></li>
            <li ng-if="directionLinks" ng-class="{disabled: noNext()}"><a href="" ng-click="selectPage(page + 1)" title="Next Page"><span class="glyphicon glyphicon-step-forward"></span></a></li>
            <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}"><a href="" ng-click="selectPage(totalPages)" title="Last Page"><span class="glyphicon glyphicon-fast-forward"></span> </a></li>
        </ul>
    </script>

</div>